html body {
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.side-banner {
    flex-grow: 1;
    position: relative;
    width: 50vw;
    min-width: 300px;
    height: 100vh;
    background: url(images/drew-collins-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.side-banner div {
    width: 100%;
    background-color: rgba(9, 9, 9, 0.527);
    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-banner img {
    width: 80px;
    padding: 10px;
}

.side-banner p {
    font-size: .8rem;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60vw;
    flex-grow: 2;
    background-color: rgb(219, 217, 217);
}

.input-section {
    width: 60vw;
    background-color: white;
    padding: 20px 0px 30px 20px;
    box-shadow: 0px 5px 5px black;
}

.form-header {
    padding: 0px 0px 20px 20px;
}

.submit {
    padding: 30px 0px 0px 20px;
}