html body {
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    display: flex;
    justify-content: center;
    width:100vw;
}

.side-banner {
    flex-grow: 1;
    position: relative;
    width: 50vw;
    min-width: 300px;
    height: 100vh;
    background: url(images/drew-collins-unsplash.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.side-banner div {
    width: 100%;
    background-color: rgba(9, 9, 9, 0.527);
    line-height: 2rem;
    padding: 0px 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-banner img {
    width: 80px;
    padding: 10px;
}

.side-banner p {
    font-size: .8rem;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60vw;
    flex-grow: 2;
    background-color: rgb(219, 217, 217);
}

.input-section {
    display: flex;
    flex-flow: row wrap;
    width: 60vw;
    background-color: white;
    gap: 20px;
    padding: 0px 0px 30px 20px;
    box-shadow: 0px 5px 5px black;
}

.input-section p {
    font-size: 1.4rem;
    width: 100%;
}

.form-header {
    padding: 0px 0px 20px 20px;
    font-size: 1.4rem;
    font-weight: bold;
}

.submit {
    padding: 30px 0px 0px 20px;
}
  
label {
    display: block;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-bottom: 3px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px 15px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 3px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: #596D48;
}

button[type='submit'] {
    padding: 15px 25px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #596D48;
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    box-shadow: 2px 2px 8px black;
}

button[type='submit']:hover {
    background-color: #34402a;
}